.footer{
  width: 100%;
}
.footer_out{
  width: 100%;
  background-color: black;
  padding-top: 30px;
}
.footer_in{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}
.list{
  width:300px;
  display: flex;
  flex-flow: row;
}
.footer_in h1{
  font-size: 18px;
  color: white;
  margin: 0;
}
.list ul{
  list-style: none;
  width: 120px;
  padding: 0;
}
.list ul li{
  line-height: 20px;
}
.list ul li .zhifu{
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.list ul li a{
  text-decoration: none;
  font-size: 14px;
  color: white;
}
.us{
  width: 240px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}
.us .taobao,.us .weixin{
  width: 106px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.taoer{
  height: 112px;
  margin-bottom: 5px;
}
.tao{
  height: 50px;
}
.three{
  width: 200px;
}
.three>div{
  width: 200px;
  display:flex;
  justify-content: space-around;
  margin-top: 10px;
}
.three>div .re{
  width: 40px;
  height: 46px;
}
.three>div>div{
  width: 150px;
}
.three>div>div span{
  font-size: 22px;
  color: white;
  font-weight: bold;
}
.three>div>div p{
  font-size: 14px;
  color: white;
  margin: 0;
}
.footer_d_out{
  width: 100%;
  background-color: rgb(68, 68, 67);
}
.foot_down{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
}
.foot_down>a{
  display: block;
  width: 190px;
  padding-top: 62px;
  background-image: url(../images/logo_03.png);
  background-repeat: no-repeat;
  margin: 15px 0;
}
.foot_down>div{
  width: 600px;
  margin-top: 30px;
  padding-right: 30px;
  text-align: right;
}
.foot_down>div p{
  font-size: 12px;
  color: rgb(99, 101, 101);
  margin: 0;
  line-height: 17px;
}
